*{
    margin:0;
    padding:0;
    background: transparent;
}

.wrapper {
    width: 88%;
    height:150px;
    margin:0 auto;
}

header {
    width:100%;
    background:#2EC4B6;
    height:95px;
    z-index:12;
    position:fixed;
}

body {
    overflow:scroll;
    background-color: whitesmoke;
    height:100%;
}
body a {
    text-decoration: none;
    color:#262626;
}

.logo {
    float: left;
    height:100px;
    margin-top:25px;
}

nav {
    float:right;
    height:30px;
    margin-top:35px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding:20px;
    border: solid 1px transparent;
}

nav ul li a:hover {
    background-color: #F5DF4D;
    border-radius: 0.3em;
    color:#262626;
}

.doneer {
    background-color:#F5DF4D;
    color:#262626;
    padding:20px;
    border-radius: 0.3em;
    border: solid 1px #F5DF4D;
}

.doneer:hover{
    background-color:transparent;
    color:#F5DF4D;
}

.banner-area{ 
    width:100%; /* the banner area has a different width than the wrapper website*/
    top:95px;
    height:525px;
    position:fixed;
    background-image: url(20190505_074653.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top:0px;
}

.banner-area h2 {
    padding-top:7%;
    font-size:55px;
    color:white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner-area h3{
    font-size:25px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
}

.banner-area p {
    background-color: rgba(255, 255, 255, 0.508);
    color:#262626;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    font-weight: 200;
    padding:20px;
    margin:0 auto;
    width:35%;
    margin-top: 50px;
    border:solid 1px transparent;
    border-radius: 0.3em;
}

.banner-area button {
    margin-top:20px;
    padding:15px;
    width: 16%;
    color:#262626;
    background-color: #2EC4B6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    border: solid 1px transparent;
    border-radius: 00.3em;
    cursor:pointer;
    color: white;
    font-weight: 600;
}

.banner-area button:hover{
    color: #F5DF4D;
}

/*.content-area {
    background-color: whitesmoke;
    position:relative;
    width:100%;
    top:850px;
    display: flex;
}

.content-area h1 {
    position: absolute;
    width:100%;
    text-align: center;
    top:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}*/

.contenthome {
    background-color:whitesmoke;
    position:relative;
    width:100%;
    top:650px;
    min-height:480px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(51, 51, 51);
    text-align: center;
}

.intro p {
    text-align: justify;
}

.newscontainer {
    width:80%;
    display: inline-flex;
    margin: 0 auto;
    text-align: left;
    position: inherit;
}

.news {
    width:300px;
    background-color: white;
    opacity: 80%;
    padding:20px;
    height: 250px;
    overflow: scroll;
    margin: 50px auto 50px 15px;
}
.news h1 {
    font-size: 1.2rem;
    padding-bottom: 12px;
}

.news h2 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 3px;
}
.news p  {
    font-size: 0.8rem;
    padding-bottom: 15px;
    text-decoration: none;

}

.news a {
    text-decoration: none;
    color:rgb(51, 51, 51);
}

.intro {
    width:700px;
    background-color: white;
    opacity: 80%;
    margin: 50px 15px auto auto;
    height: 250px;
    padding:20px;
    overflow: scroll;
}

.footer {
    background-color: #2EC4B6;
    width:100%;
    left:0px;
    height:50px;
    position:fixed;
    bottom:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
}
.footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footflex{
    display: flex;
    top:50%;
    transform: translate(0,-50%);
    margin: 0 auto;
    position: relative;
    width:80%;
}

.fb {
    margin-left: 20px;
    margin-top:5px;
}
.anbi {
    margin-top:5px;
}

.footer p {
    margin-top:14px;
}

.foottext {
    width:100%;
    text-align: center;
    color:whitesmoke;
}

/*.content{
    background-color: blue;
    position:absolute;
    width:100%;
    top:50px;
    display: flex;
    height:500px;
}*/


/*full width content area for each page*/
/* Content can serve as a parent container for the other elements on the website, but is not necessary. 
might be useful if you want to create separate background for the rest of the website
.contentprojects{
    position: absolute;
    margin:auto;
    background-color: yellowgreen;
    width:100%;
    height: 1700px;
} /*content takes on height from child element */
/*SECTION FOR CONTENT ON ALL PAGES*/

.content {
    margin-top:125px;
    margin-bottom: 85px; /*50 px margin is footer height + 20 px for actual margin*/
    display:inline-flex;
    flex-wrap:wrap;
    width: 80%;
    background-color: whitesmoke;
    transform: translate(12.5%,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    justify-content: center;
}



/*NEWS SECTION*/
/*
.triangle-left {
	display: inline-block;
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 20px solid #555;
	border-bottom: 15px solid transparent;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 20px solid #555;
	border-bottom: 15px solid transparent;
    position: absolute;
    bottom:5px;
    right:5px;
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(51, 51, 51);
}
*/
.returnnews {
    position: absolute;
    left:220px;
    margin-top:145px;
    font-size: 0.75rem;
    text-align: center;
    z-index: 12;
}

.newsblock {
    display: inline-flex;
    width: 80%;
    margin: 5px auto;
}
.newsblock a:visited {
    text-decoration: none;
}

.newsblock a {
    text-decoration: none;
    color:black;
}

.newstext {
    width:80%;
    margin:15px;
    text-align: justify;
    position: relative;
}

.newsimage {
        background-image: url("nw-rolstoel.jpg");
        background-position: center;
        width:300px;
        height:200px;
        margin: 15px;
        border-radius: 5px;
}

.newsblock:hover {
    background-color: #9395971c;
    border-radius: 5px;
}

.newsitem-image {
    background-position: center;
    width:600px;
    height:400px;
    margin: 15px;
}

#han {
    background-image: url("Han.png");
}

/*area for listing individual projects blocks*/
.projects {
    margin-top:125px;
    margin-bottom: 70px; /*50 px margin is footer height + 20 px for actual margin*/
    display:inline-flex;
    flex-wrap:wrap;
    width: 80%;
    background-color: whitesmoke;
    transform: translate(12.5%,0);
    justify-content: center;
}

.project {
    width: 300px;
    height:300px;
    display:flex;
    justify-content: center;
    color:#262626;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.85rem;
    text-align: left;
    position: relative;
    margin: 30px 30px;
    padding:10px;
    cursor:pointer;
    border-radius:5px;

}

.fillertile {
    width:300px;
    height:0;
    margin: 30px 30px;
    padding:10px;
} /*added to fill space at the end of the row; last row of project tiles now aligns to left of page regardless of number of tiles*/

.project:hover{
    opacity: 0.8;
}

.textblock {
    width:280px;
    height:75px;
    bottom:0px;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.623);
    padding: 20px;
    border-radius:  0 0 5px 5px;
}

.project h3 {
    line-height:30px;
    margin-top: -10px;
}

#kippenfarm {
    background-image: url("kippenfarm.jpg");
    background-position: center;
    background-size: cover;
}

#sayap {
    background-image: url("grond-kasih2.jpg");
    background-position: center;
    background-size: cover;
}

#rolstoelen {
    background-image: url("nw-rolstoel.jpg");
    background-position: center;
    background-size: cover;
}

#rolstoelbus {
    background-image: url("1186-rolstoelbus1.jpg");
    background-position: center;
    background-size: cover;
}

#renovaties {
    background-image: url("renovatie.jpg");
    background-position: center;
    background-size: cover;
}

#placeholder {
    background-image: url("Paris.jpg");
    background-position: center;
    background-size: cover;
}

/* -----MODALS FOR PROJECTS ---------*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.219); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: whitesmoke;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    height:550px;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* -----MODALS FOR PROJECTS END---------*/
/*MODALS INHOUD FORMAT */
.projectmodal {
    height:100%;
    width:85%;
    position: relative;
    margin:0 auto;
    overflow: scroll;
}

/* this is all for projects pages - not sponsorkinderen */
.picturesmodal{ 
    width:100%;
    margin: 0 0 25px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.textmodal {
    position: relative;
    margin:0 20px 45px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: rgb(54, 54, 54);
}
.textmodal ul{
    text-decoration: none;
    list-style-type: square;
    list-style-position: outside;
    margin-left: 20px;
}

.textmodal a {
    text-decoration: none;
    color:#2EC4B6;
}

.textmodal a:hover {
    text-decoration: none;
    color:#2EC4B6;
    background-color: #F5DF4D;
}

.projectpic {
    height:325px;
    width:325px;
    margin: 25px 25px 0 0;
    border-radius: 5px;
    object-fit: cover;
}


.donate-text {
    position: relative;
    top:200px;
    width:600px;
    margin:0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

.donate-text a:link {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.donate-text a:visited {
    text-decoration: none;
    color:inherit;
}

.donate-text a:hover {
    text-decoration: underline;
    font-size: 0.85rem;
    color:#F5DF4D;
    background-color: #2EC4B6;
}

.donflex {
    display:flex;
    position: relative;
    top:30px;
}

.donleft {
    text-align: left;
    width:50%;
}

.donright {
    text-align: left;
    width:50%;
}

.doneerkind{
    margin-top: 50px;
}

.content-all{
    background-color: whitesmoke;
    position: absolute;
    width:1600px;
    left: 50%;
    transform: translate(-50%,0);
    height:100%;
}

.contactform {
    width:100%;
    position: absolute;
    top:300px;
    display:inline-flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color:#262626;
    height:185px;
}

.bericht {
    margin: 0px 30px;
}

.bericht textarea {
    height:143px;
    width:500px;
    border: solid #F5DF4D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:#262626;
}

#name {
    margin-bottom: 10px;
    width:350px;
    height:30px;
    font-size: 1em;
    border: solid #F5DF4D;
    color:#262626;

}
#email {
    margin: 10px 0px;
    width:350px;
    height:30px;
    font-size: 1em;
    border: solid #F5DF4D;
    color:#262626;
}
#phone {
    margin: 10px 0px;
    width:350px;
    height:30px;
    font-size: 1em;
    border: solid #F5DF4D;
    color:#262626;
}

.sponsorkind {
    width:180px;
    height: 180px;
    background-color: blue;
    border-radius: 5px;
    display: inline-flex;
    justify-content:space-around;
    margin: 0 auto;
    margin:20px;
}

.sponsorkind:hover {
    opacity: 0.7;
    cursor: pointer;
}
.sponsorkind:hover .doneeroverlay{
    opacity: 1;
}

.kindfillertile {
    width:180px;
    height:0;
    margin:20px;
} /*added to fill the space on the last row; last row always aligns left now*/

.doneeroverlay{
    position: absolute;
    height:180px;
    width: 180px;
    opacity: 0;
    text-align: center;
}

.kinddontext{
    width:50%;
    margin:0 auto;
    margin-top: 60px;
    background-color: #F5DF4D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.kindintro {
    width:100%;
    height:30px;
    background-color:rgba(255, 255, 255, 0.623);
    padding: 10px;
    border-radius:  0 0 5px 5px;
    margin-top:100%;
    transform:translate(0,-100%);
}

#kind-1 {
    background-image: url("Rinto-Sarese.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-2 {
    background-image: url("Nandro-Andris.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-3 {
    background-image: url("Yani-Pesik.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-4 {
    background-image: url("Irma-Kaligis.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-5 {
    background-image: url("Albertus-Israel-Randang.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-6 {
    background-image: url("Salomita-Supit.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-7 {
    background-image: url("IrenMagawe.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-8 {
    background-image: url("Septi-Ngangi.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-9 {
    background-image: url("Eklesia-Smolang.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-10 {
    background-image: url("Karmela-Senduk1.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-11 {
    background-image: url("Anita-Felomena-Pangayow.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-12 {
    background-image: url("Yefta-Maningkas.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-13 {
    background-image: url("Alfonsius-Kapoh.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-14 {
    background-image: url("Wulan-Wagino.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-15 {
    background-image: url("Imanuela-Falensia-Kelung.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-16 {
    background-image: url("Anolik-Cody-Jhon.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-17 {
    background-image: url("Putri-St.jpeg");
    background-position: center;
    background-size: cover;
}

#kind-18 {
    background-image: url("Putri-Julaika-Sekeh.jpeg");
    background-position: center;
    background-size: cover;
}


.kindpicmodal img {
    width:50%;
    position: relative;
    transform: translate(50%,0);
    margin-bottom:20px;
    background-color: yellow;
}




/* OVER YAMARU */

.over{
    width:55%;
    position: relative;
    margin:0 auto;
    padding:20px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

/*
.projects {
    margin: 0 auto;
    text-align: center;
    padding:20px;
}

.project {
    position:relative;
    color:black;
    width:400px;
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    height:300px;
    margin:20px;
    padding:25px;
    border:solid 1px gold;
    border-radius: 0.3em;
}
.project:hover {
    cursor:pointer;
    background-color:blue;
}

.project h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    position:relative;
    top:-25px;
    left:-25px;
    width:450px;
    height:50px;
}

.project span {
    position: absolute;
    left:0;
    bottom:0;
    padding:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
}

